/* CSS pour le composant Matching */


  
  .profile-card {
    background-color: #ffffff98;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    max-width: 800px;
    margin-bottom: 20px;
    min-width: 400px;
    min-height: auto;
    color: black;
  }
  
  .profile-image img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .profile-name {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .profile-bio {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .profile-display-name {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    gap: 50px;
    

  }
  
  .buttons button {
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  
  .load-next-button {
    margin-top: 20px;
    color: #ececec;
    background-color: rgba(0, 0, 0, 0);
    border: 1.5px solid #ececec;
    border-radius: 20px;
    font-family: DM Sans, sans-serif;
    padding: 10px;
  }
  
  .load-next-button:hover {
    background-color: #1f7d3d;
  }
  
  /* Style pour le message "No more profiles to display." */
  .no-profiles-message {
    font-size: 18px;
    color: #ffffff;
    margin-top: 20px;
    font-family: DM Sans, sans-serif;
  }

  .swipe-left-button {
    background-color: #f69595;
    border-radius: 80%;
  }

  .swipe-right-button {
    background-color: #5bbd52;
    border-radius: 80%;
  }